In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/base_gastos_cartao.csv")

In [3]:
data.columns

Index(['Gastos_Cartao', 'Idade', 'Renda', 'Impostos', 'Segmento'], dtype='object')

In [4]:
data[["Gastos_Cartao", "Renda", "Idade"]].head()

   Gastos_Cartao  Renda  Idade
0            510   1120     35
1            490   1120     30
2            470   1040     32
3            460   1200     31
4            500   1120     36

In [5]:
data[["Gastos_Cartao", "Renda", "Idade"]].mean()

Gastos_Cartao     584.333333
Renda            3006.400000
Idade              30.573333
dtype: float64

In [6]:
data[["Gastos_Cartao", "Renda", "Idade"]].std()

Gastos_Cartao      82.806613
Renda            1412.238587
Idade               4.358663
dtype: float64

In [7]:
data[["Gastos_Cartao", "Renda", "Idade"]].max()

Gastos_Cartao     790
Renda            5520
Idade              44
dtype: int64

In [8]:
data[["Gastos_Cartao", "Renda", "Idade"]].describe()

       Gastos_Cartao        Renda       Idade
count     150.000000   150.000000  150.000000
mean      584.333333  3006.400000   30.573333
std        82.806613  1412.238587    4.358663
min       430.000000   800.000000   20.000000
25%       510.000000  1280.000000   28.000000
50%       580.000000  3480.000000   30.000000
75%       640.000000  4080.000000   33.000000
max       790.000000  5520.000000   44.000000

In [9]:
colunas_interesse = ["Gastos_Cartao", "Renda", "Idade"]

In [10]:
#data.loc[data["Segmento"] == "B"]
data[data["Segmento"] == "B"]

    Gastos_Cartao  Idade  Renda  Impostos Segmento
50            700     32   3760       420        B
51            640     32   3600       450        B
52            690     31   3920       450        B
53            550     23   3200       390        B
54            650     28   3680       450        B
55            570     28   3600       390        B
56            630     33   3760       480        B
57            490     24   2640       300        B
58            660     29   3680       390        B
59            520     27   3120       420        B
60            500     20   2800       300        B
61            590     30   3360       450        B
62            600     22   3200       300        B
63            610     29   3760       420        B
64            560     29   2880       390        B
65            670     31   3520       420        B
66            560     30   3600       450        B
67            580     27   3280       300        B
68            620     22   3600       450        B
69            560     25   3120       330        B
70            590     32   3840       540        B
71            610     28   3200       390        B
72            630     25   3920       450        B
73            610     28   3760       360        B
74            640     29   3440       390        B
75            660     30   3520       420        B
76            680     28   3840       420        B
77            670     30   4000       510        B
78            600     29   3600       450        B
79            570     26   2800       300        B
80            550     24   3040       330        B
81            550     24   2960       300        B
82            580     27   3120       360        B
83            600     27   4080       480        B
84            540     30   3600       450        B
85            600     34   3600       480        B
86            670     31   3760       450        B
87            630     23   3520       390        B
88            560     30   3280       390        B
89            550     25   3200       390        B
90            550     26   3520       360        B
91            610     30   3680       420        B
92            580     26   3200       360        B
93            500     23   2640       300        B
94            560     27   3360       390        B
95            570     30   3360       360        B
96            570     29   3360       390        B
97            620     29   3440       390        B
98            510     25   2400       330        B
99            570     28   3280       390        B

In [11]:
(data["Segmento"] == "B") & (data["Idade"] >= 22)

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [12]:
colunas_interesse

['Gastos_Cartao', 'Renda', 'Idade']

In [13]:
data[data["Segmento"] == "B"][colunas_interesse].mean()

Gastos_Cartao     593.6
Renda            3408.0
Idade              27.7
dtype: float64

In [14]:
data[colunas_interesse].mean()

Gastos_Cartao     584.333333
Renda            3006.400000
Idade              30.573333
dtype: float64

In [28]:
def primeiro_determinacao(angulo):
    return angulo % 360

In [29]:
def quadrante(angulo):
    
    angulo = primeiro_determinacao(angulo)
    
    if angulo >= 0 and angulo < 90:
        print("Quadrante 1")
    elif angulo >= 90 and angulo < 180:
        print("Quadrante 2")
    elif angulo >= 180 and angulo < 270:
        print("Quadrante 3")
    elif angulo >= 270 and angulo < 360:
        print("Quadrante 4")

In [30]:
quadrante(30)

Quadrante 1

In [31]:
quadrante(95)

Quadrante 2

In [32]:
quadrante(189)

Quadrante 3

In [33]:
quadrante(276)

Quadrante 4

In [34]:
quadrante(1500)

Quadrante 1

In [24]:
int(1500 / 360)
1500 - 4 * 360

60

In [25]:
1500 % 360

60